nav {
    background: rgba(0, 0, 0, 0.5);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

nav a {
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1rem;
}

nav a:hover {
    background: yellowgreen;
}

nav a.active {
    background: darkcyan;
    color: var(--color-white);
}